{% extends 'header.html' %}

{% block content %}

<script type="text/JavaScript">
  function timeRefresh(timeoutPeriod) {
  setTimeout("window.location = '/blackjack/playmultiplayer/{{ pk }}';", timeoutPeriod);
  }
</script>

{% if yikes %}
<h4>Yikes</h4>
{% endif %}

{% if finished %}
<div class="container">
{% for key, value in all_scores.items %}
<h4>{{ value.0 }} scored {{ value.1 }}</h4>
{% endfor %}
</div>
{% elif reload %}
{% if ready != True and wait != True %}
<body onload="JavaScript:timeRefresh(2000)">
  <div class="container">
    <h4 onload="JavaScrip:timeRefresh(2000)">Not ready yet, score is {{ score }}</h4>
  </div>
</body>
{% endif %}
{% if wait %}
<body onload="JavaScript:timeRefresh(2000)">
  <h4>Waiting for other players to finish</h4>
  <h4>Hand Value: {{ score }}</h4>
</body>
{% endif %}
{% if ready and wait != True %}
<body onload="JavaScript:timeRefresh(2000)">
  <h5>Hand Value: {{ score }}</h5>
  <h4>You Lost</h4>
</body>
{% endif %}
{% endif %}

  
{% if reload != True %}
<body>
  <div class="container">
    <h4>{{ name }}'s Hand Value: {{ score }}</h4>
    <h6>Room: {{ room }}</h6>
    <br>
    <form method="POST" action="">
      {% csrf_token %}
      <div class="switch">
        <label>
          Pass
          <input type="checkbox" name="is_hit" checked>
          <span class="lever"></span>
          Hit
        </label>
      </div>
      <br>
      <input type="Submit" value="Confirm">
    </form>
  </div>
</body>
{% endif %}

{% endblock %}
