{% extends 'header.html' %}

{% block content %}
  <div class="container">
    <h1> BlackJack </h1>
    <h5>{{ object.name }}</h5>
    <h3>Total Value: {{ object }}</h3>
    
    <form method="post">
      {% csrf_token %}
      <div class="switch">
        <label>
          <i class="material-icons">play_arrow</i>
          {{ form.hit }}
          <span class="lever"></span>
        </label>
      </div>
      <br>
      <input type="submit" value="UPDATE">
    </form>
  </div>
{% endblock %}




